<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="conten-type"
        content="text/html; charset=UTF-8">
        <title> <%=title %></title>
        <style>
        h1 {font-size: 60pt; color:#eee;
        text-align:right; margin:0px; }
        body {font-size: 14pt; color:#999;
        margin:5px}
        </style>
        <link type='text/css' href='./style.css' rel='stylesheet'>
    </head>
    <body>
        <head>
            <h1><%=title %></h1>
        </head>
        <div role='main'>
            <p><%=content %></p>
            <p><table style= 'width:400px;'>
            <tr><th>'memo for you!'</th></tr>
            <tr><td><%=data.msg %></td></tr>
        </table></p>
        <p>
            <p>your last message:<%= cookie_data %></p>
            <form method='post' action='/'>
            MESSAGE <input type='text' name='msg'>
            <input type='submit' value='send'>
        </p>
        </div>
    </body>
</html>
